ej2R2L Component Working

<!-- <div class="container"> -->
    <ejs-listview id='sample-list' [dataSource]='data' [fields]='fields' showHeader='true' 
        headerTitle='Social Media'>
        <ng-template #template let-data="">
            <span class='{{data.class}} icon'><span class='media'>{{data.socialMedia}}</span></span>
        </ng-template>
    </ejs-listview>
<!-- </div> -->