<p>parent-comp works!</p>
<input type="text" name="pMessage" [(ngModel)]="parentMsg" (ngModelChange)="update($event)"/>
<!-- for accessing data of child in parent -->
<child-comp [messageFromParent]="parentMessage"></child-comp>

