.sidenav {
    position: fixed;
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    float: left;
    width: 40%;
    position: fixed;
    z-index: 1;
}

.main {
    float: left;
    margin-top: 5%;
    margin-left: 50%;
    width: 40%;
}

.login-main-text {
    margin-top: 10%;
    padding: 2%;
    color: #fff;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.warning {
    font-size: small;
    color: rgb(182, 46, 64);
    position: relative;
    padding-left: 70%;
}

.login-form {
    font-size: large;
    text-align: justify;
    padding: 2%;
}

label {
    font-weight: bold;
}

.register {
    font: bold;
    color: chocolate;
    padding-top: 1%;
}

@media screen and (max-width: 600px) {
    .sidenav {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .main {
        float: left;
        margin-left: 10% !important;
        width: 100%;
        padding: 0;
    }
}

@media screen and(max-width: 100%) {
    .warning {
        font-size: x-small !important;
        padding-left: 60%;
        position: absolute;
    }
}

/* @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
} 

@media screen and (min-width: 768px) {
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
   
        left: 0;
    }
    .main {
        margin-left: 50%;
    }
}*/