<div class="sidenav">
    <div class="login-main-text">
        <h2 *ngIf="!registerVar">SSO Login Page</h2>
        <h2 *ngIf="registerVar">SSO Register Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>

<div class="main">
    <div class="login-form border border-dark rounded" *ngIf="!registerVar">
        <form [formGroup]="angForm" novalidate>

            <span *ngIf="angForm.controls['userName'].errors.required" class="warning text-right">*UserName is Mandatory</span>
            <span *ngIf=" angForm.controls['userName'].errors.minlength">UserName length must be > 4.</span>

            <div class="form-group row">
                <label for="username" class="col-sm-3">User Name : </label>

                <div class="col-sm-9">
                    <input type="text " class="form-control " id="userName " formControlName="userName" placeholder="Enter Username ">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-3">Password : </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password " placeholder="Password " required>
                </div>
                <!-- <div *ngIf="angForm.pswd.required " >Password is Mandatory.</div> -->
            </div>
            <div class="form-group ">
                <button type="submit " class="btn btn-black col-sm-3" (click)="onLogin()">Login</button><br>
                <label class="text-right"> Not registered yet ? 
                    <a class="register" (click)="onClickRegister()"><u>Register</u></a> here.
                </label>
            </div>
        </form>
    </div>
</div>

<div class="main " *ngIf="registerVar ">

    <div class="login-form ">
        <form>
            <div class="form-group ">
                <label>User Name</label>
                <input type="text " class="form-control " placeholder="User Name ">
            </div>
            <div class="form-group ">
                <label>Password</label>
                <input type="password " class="form-control " placeholder="Password ">
            </div>
            <div class="form-group ">
                <label>Email</label>
                <input type="email " class="form-control " placeholder="Email ">
            </div>
            <a><button type="submit " class="btn btn-secondary ">Register</button></a>
            <a><button type="submit " (click)="registerVar=false " class="btn btn-secondary ">Login</button></a>
            <!-- <a><button type="submit " (click)="registerVar=false " class="btn btn-secondary ">Login</button></a> -->
        </form>
    </div>

</div>