.companyName {
    font-size: 115%;
    font-weight: bold;
}

.mat-toolbar {
    height: 20%;
    background-color: darkgray;
}

.mat-sidenav-container {
    background-color: lightskyblue;
    min-height: 90vh !important;
}

button {
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-sidenav-content {
    font-size: 200%;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: lightslategray;
    color: white;
    /* text-align: center; */
    margin: 0px;
}
