<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <mat-toolbar>
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <a mat-button class="companyName" routerLink="/">
            <span>BuildingBlocksApp</span>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="/parent-msg-in-child">ParentMsgInChild</a>
            <a mat-button routerLink="/child-msg-in-parent">ChildMsgInParent</a>
            <a mat-button routerLink="/login">login</a>
            <a mat-button routerLink="/home">Home</a>
            <a mat-button routerLink="/bluejay">Blujay</a>
            <a mat-button routerLink="/observables">Observables</a>
            <a mat-button routerLink="/asyncAwait">AsynchAwait</a>
            <a mat-button [matMenuTriggerFor]="menu">Directives</a>
            
            <mat-menu #menu>
                <a mat-menu-item routerLink="/ej2sR2L">Ej2sR2L</a>
                <a mat-menu-item routerLink="/ej2TreeLayout">Ej2Tree</a>
            </mat-menu>
        </div>

    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a mat-button routerLink="/parent-msg-in-child">ParentMsgInChild</a>
                <a mat-button routerLink="/child-msg-in-parent">ChildMsgInParent</a>
                <a mat-button routerLink="/start-page">Start page</a>
                <a mat-button routerLink="/home">Home</a>
                <a mat-button routerLink="/observables">Observables</a>
                <a mat-button routerLink="/asyncAwait">AsynchAwait</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="footer">
        <span class="col-md-2 text-right">{{time}}</span>
        message from service : {{msg}} 
    </div>

</body>

</html>