<p>child-message-viewer works!</p>
<div class="bg-primary">
    <app-child-message-in-parent (valueChange)="displayChildMessage($event)"></app-child-message-in-parent>
    <br><p *ngIf="show">{{childMessage}}</p>
</div>
