<p>home works!</p>

<!-- This page is service(shared-service) consumer -->

<small>Data from Service : <span style="font-weight: bold;">{{messageFromService}}</span></small>

Consume Observable ==> <a (click)="consumeObservable()">ClickHere</a>